[submodule "lib/util"]
	path = lib/util
	url = https://github.com/IkarusFramework/utilities.git
[submodule "lib/system/application"]
	path = lib/system/application
	url = https://github.com/IkarusFramework/system-application.git
[submodule "lib/system/auth"]
	path = lib/system/auth
	url = https://github.com/IkarusFramework/system-auth.git
[submodule "lib/system/cache"]
	path = lib/system/cache
	url = https://github.com/IkarusFramework/system-cache.git
[submodule "lib/system/configuration"]
	path = lib/system/configuration
	url = https://github.com/IkarusFramework/system-configuration.git
[submodule "lib/system/database"]
	path = lib/system/database
	url = https://github.com/IkarusFramework/system-database.git
[submodule "lib/system/encryption"]
	path = lib/system/encryption
	url = https://github.com/IkarusFramework/system-encryption.git
[submodule "lib/system/event"]
	path = lib/system/event
	url = https://github.com/IkarusFramework/system-event.git
[submodule "lib/system/exception"]
	path = lib/system/exception
	url = https://github.com/IkarusFramework/system-exception.git
[submodule "lib/system/io"]
	path = lib/system/io
	url = https://github.com/IkarusFramework/system-io.git
[submodule "lib/system/package"]
	path = lib/system/package
	url = https://github.com/IkarusFramework/system-package.git
[submodule "lib/system/style"]
	path = lib/system/style
	url = https://github.com/IkarusFramework/system-style.git
[submodule "lib/system/template"]
	path = lib/system/template
	url = https://github.com/IkarusFramework/system-template.git
